.el-date-editor.el-input,
.el-input,
.el-input-number,
.el-select {
  width: 100%;
}
.el-input-number .el-input__inner {
  text-align: right;
}
.table th, .table td {
  vertical-align: middle;
}
.input-text-right {
  input {
    text-align: right;
  }
}
.button-xlarge {
  font-size: 20px;
  padding: 18px 22px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certificate-form {
  .el-dialog {
    max-width: 600px;
  }
  .el-upload {
    width: 100%;
    .el-button {
      width: 100%;
    }
  }
}

.el-textarea__inner {
  height: 40px!important;
  min-height: 40px!important;
}

.chart-data-selector {
  height: 274px;
}

.chartjs-render-monitor {
  height: 261px!important;
}

.title-chart {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  height: 100%;
  transform: rotate(-45deg);
}

.m-1__2 {
  margin: 0.10rem !important;
}

.dialog-import {
  .el-dialog {
    width: 500px !important;
  }
}

.pricing-table h3 span {
    font-size: 20px !important;
}

.pricing-table h3 {
    padding: 10px !important;
}

.data-table-visible-columns {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
}

.short-text { display: none; }
.full-text { display: inline-block; }

@media screen and (max-width: 1400px) and (min-width: 1024px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}


.separator-title {
  position: relative;
  color: #303133;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  &:before {
    content: '';
    width: 100%;
    border-bottom: solid 1px #dcdfe6;
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: 1;
  }
}

.el-cascader {
  width: 100%;
}

.card.card-dashboard {
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    border-radius: 5px;
    border: none;
    .card-body {
      font-size: 1rem;
      font-weight: 600;
    }
    .card-title {
      font-weight: 500;
      font-size: 14px;
      min-height: 60px;
    }
  }
  html.dark {
    .card.card-dashboard {
      color: #5bc0de;
    }
  }
